.ticker {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
}

.ticker-track {
  display: flex;
  align-items: center;
  width: max-content;
  animation: ticker 200s linear infinite;
}

.ticker:hover .ticker-track {
  animation-play-state: paused;
}

.ticker-item {
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 60px;
  font-size: 13px;
  font-weight: 500;
  color: #0c0c0c;
}

/* Small Mobile */
@media (min-width: 480px) {
  .ticker-item {
    font-size: 14px;
    margin-right: 60px;
  }
}

/* Tablet */
@media (min-width: 768px) {
  .ticker-item {
    font-size: 15px;
    margin-right: 80px;
  }

  .ticker-track {
    animation-duration: 180s;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .ticker-item {
    font-size: 17px;
    margin-right: 100px;
  }

  .ticker-track {
    animation-duration: 180s;
  }
}

@keyframes ticker {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}